* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }
  .header {
    background-color: darksalmon;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text-header {
    font-size: 30px;
    color: white;
    padding: 15px;
  }

  .hero-block {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
  .column {
    display: flex;
    height: 100%;
    width: 25%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border: 0.5px solid;
    border-width: 2px;
    margin: 10px;
  }
  
  .text-bold-column {
    font-size: 1.2em;
    font-weight: bold;
    margin: 5px;
  }
  
  .Electrician-services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 0.9em;
    margin: 15px;
  }

  .picture {
    width: 100%;
  }

  .footer {
    background-color: darksalmon;
    height: 10%;
    width: 100%;

    display: flex;
    justify-content: flex-start;
  }

  /* Макет для iphone 12 Pro*/
  @media only screen and (max-width: 500px) {
    .column {
      width: 90%; /* Блоки для iphone 12 Pro и устройств с шириной экрана < 500px */
    }
  }
  /* Макет для десктопов */
  @media only screen and (min-width: 501px) and (max-width: 1200px) {
    .column {
      width: 90%; /* Блоки для устройств с шириной экрана > 500px и <800px*/
    }
  }
  /* Макет для десктопов */
  @media only screen and (min-width: 1201px) {
    .hero-block {
      height: 70vh;
    }
    .column {
      width: 25%; /* Блоки для устройств с шириной экрана > 800px */
    }
  }