* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
  }
  header {
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
  }

  .wallpaper {
    width: 100%;
    height: 645px;

    margin: 0 auto 0 auto;
    max-width: 100%;
    text-align: left;
    background-image: url("images/Package.png");
    background-size: cover;
    background-position: center;
  }

  .container {
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    padding: 50px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  a:link, a:visited {
    text-align: center;
    color: black;
  }
  a:hover {
    text-align: center;
    color: #2701fc;
    text-decoration: underline;
  }
  .text-box {
    display: flex;
    justify-content: flex-start;
  }
  nav {
    display: flex;
    justify-content: flex-end;
  }
  .text-header {
    font-size: 15px;
    font-weight: bold;
    color: black;
    padding: 15px;
  }
  .text-section {
    font-size: 20px;
    font-weight: bold;
    color: orange;
    padding: 10px;

    text-align: center;
    background-color: #3370D1;
  }

  section {
    display: block;
  }

  .form-package {
    background-color: pink;

    border: solid 1px;
    border-color: white;
    border-radius: 5px;
  }

  .form-row {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: white;
    margin: 3px;
  }
  .form-row label {
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin: 3px;
    padding: 2px;
  }
  .form-row input {
    font-size: 15px;
    color: white;
    background-color: pink;
    margin: 3px;
    padding: 2px;

    border: none;
    border-bottom: solid 1px white;
  }
  
  
  button {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: orange;
  
    border: solid 2px ;
    border-radius: 10px;
    border-color: white;

    display: block;  
  
    padding: 10px 10px;
    margin-top: 15px;  
    margin-left: auto;  
    margin-right: auto;
    cursor: pointer;
  }

  footer {
    background-color: pink;
    margin-top: auto;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .text-footer {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 15px;
  }
